/* 
  Indego Brand Colors:
  Dark Blue: #16216a
  Light Blue: #0082cb
  Neon Green: #94d60a
  White: #ffffff
*/

.Indego-logo {
  height: 80px;
  padding: 1.1em;
}

.App-header {
  background-color: #16216a;
  height: 115px;
  padding: 0 0 15px;
  border-bottom: 5px solid #94d60a;
  text-align: center;
}

.App-intro {
  font-size: large;
}

.App-body {
  margin: 0 auto;
  width: 1170px;
}

.Page-title {
  text-align: left;
  font-size: 48px;
  padding: 0 0 9px;
  margin-bottom: 32px;
  color: #16216a;
  border-bottom: 5px solid #0082cb;
}